@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ~~~~~~~~ Main CSS ~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, serif;
}

body {
  background-color: #1a202c;
  color: #fff;
}

/* ##### Navbar CSS $$$$$$$$ */

#navbar {
  width: 100% !important;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-shadow: 2px 1px 2px rgb(239, 44, 44);
  margin-bottom: 8px;
}

#logo {
  height: 100%;
  font-size: 1.5rem;
  text-shadow: 2px 1px 2px #545455;
}

#logo > h3 {
  height: 100%;
  margin: 0;
}

#navbar-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
}

#navbar-links li {
  list-style: none;
  font-size: 1rem;
}

#navbar-links li a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

#navbar-links li a:hover {
  color: #ff4321;
}

#navbar-menu-option {
  width: 250px;
  background-color: #202122;
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 3px 3px #545455;
}

#navbar-menu-option a {
  width: 100%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  text-shadow: 1px 1px 0 #e3e4ee;
  text-align: center;
  box-shadow: 0 5px 4px #292a2b;
}

#cross {
  position: inherit;
  top: 8px;
  right: 8px;
  font-size: 1.2rem;
}

#navbar-right {
  height: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 5px;
}

#menu {
  color: #fff;
  font-size: 1.2rem;
  display: none;
}

#contact-me {
  /* display: none; */
  padding: 5px 10px;
  background-color: #ff4321;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
}

@media (max-width: 750px) {
  #menu {
    display: inline;
  }

  #navbar-links {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 400px) {
  #contact-me {
    display: none;
  }

  #main-container{
    padding: 0;
  }
}

/* Main Conatainer Styling Start from here  */
#main-container {
  width: 90%;
  margin: 20px auto;
  height: max-content;
  /* border: 1px solid #545455; */
  overflow: hidden;
}

/* Home Page Styling */
#home {
  width: 100%;
  height: max-content;
  padding: 10px;
  display: flex;
  gap: 1rem;
}

#home-info {
  width: 50%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#home-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-img img {
  width: 290px;
  background-color: #fff;
  box-shadow: 0 0 20px #efe7e9;
  border-radius: 61% 39% 61% 39% / 35% 32% 68% 65%;
}

#maininfo > h1 {
  line-height: 1;
  margin: 3px 0;
}

.maintext {
  font-size: 20px;
}

@media (min-width: 0) and (max-width: 400px) {
  .maintext{
    font-size: 12px;
  }
}

#home-info > p {
  font-size: 1.1rem;
  margin: 25px auto;
  text-align: justify;
}

#links {
  display: flex;
  gap: 1.6rem;
  font-size: 1.6rem;
  margin: 25px 0;
  align-items: center;
}

#get-resume-btn {
  padding: 5px 10px;
  background-color: #ff4321;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  width: max-content;
  border: none;
}

#home-info > button:hover,
#contact-me:hover {
  background-color: #de5239;
}

@media (max-width: 750px) {
  #main-container {
    width: 100%;
    padding-left: 30px;
  }
}

@media (max-width: 625px) {
  #main-container {
    padding-right: 20px;
  }
  #home {
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  #home-info,
  #home-img {
    width: 100%;
  }

  #home-info > p {
    margin: 15px auto;
  }
}

#maininfo h1 > span {
  font-size: 45px;
}

.link-img {
  width: 25px;
  opacity: 0.4;
}

.link-img:hover {
  width: 28px;
  position: relative;
  bottom: 5px;
  opacity: 1;
  -webkit-box-reflect: below 8px linear-gradient(transparent, #0005);
}

/* About page CSS */

#about {
  border: 1px solid #11141b;
  background-color: #171c26;
  margin: 70px auto;
  width: 100%;
  height: max-content;
  padding: 20px;
  border-radius: 1rem;
  padding-bottom: 40px;
}

#about h1 {
  text-align: center;
  text-shadow: 4px 0 0 #343333;
}

#about > span {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  gap: 45px;
  /* color: yellow; */
}

#about-text {
  text-align: justify;
  width: 65%;
  height: 100%;
}

#about-text span {
  margin-left: 25px;
}

#address {
  width: 35%;
  height: 100%;
}

#address > span {
  display: block;
  color: #e5e9e8;
}

#address > span > span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  margin-left: 15px;
}

@media (max-width: 650px) {
  #about > span {
    flex-direction: column;
    padding: 30px;
  }

  #about-text {
    width: 100%;
  }

  #address {
    width: 100%;
  }
}

/* Skills */

#skills {
  width: 90%;
  height: max-content;
  margin: 0 auto;
}

#skills h1 {
  text-shadow: 4px 0 0 #343333;
  text-align: center;
  font-size: 2.3rem;
  margin-top: 20px;
  margin-bottom: 25px;
}

#skills-inner {
  width: 100%;
  height: max-content;
  padding: 20px;
}

.skill {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #ff4321;
  color: #000000;
  /* padding: 5px 10px; */
  border-radius: 8px 16px;
  cursor: context-menu;
}
.skill div {
  border-radius: 8px 16px;
  padding: 5px 10px;
  background-color: #fff;
  position: relative;
  bottom: 0.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skill div:hover {
  bottom: 0.3rem;
  background-color: #ff4321;
}

.skill div img {
  width: 29px;
  margin-right: 3px;
}

.skill:hover {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  background-color: #fff;
}
.skills-inner h3 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}















/* Project CSS */

#projects-box {
  width: 100%;
  min-height: 200px;
  margin: 60px auto;
  border-radius: 10px;
}

#projects-box h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project {
  border-radius: 1rem;
  overflow: hidden;
  background-color: #1a1a29;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project a {
  text-decoration: none;
  color: #e5e6e7;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-image {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project:hover img {
  transform: scale(1.1);
}

.project-slide {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ff4321, rgba(255, 255, 255, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: bottom 0.4s ease;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.project:hover .project-slide {
  bottom: 0;
}

.project .project-texts {
  padding: 1rem;
  background-color: #1a1a29;
  padding-bottom: 0.5rem;
}

.project .project-texts h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #ffffff;
}

.project .project-texts p {
  font-size: 0.9rem;
  color: #cbcccc;
  margin-top: 0.5rem;
}






/* Education section */
#education{
  height: max-content;
  width: 100%;
  border: 1px solid #11141b;
  background-color: #171c26;
  display: flex;
  border-radius: 10px;
  color: #e4e8e1;
  padding: 20px;
}

#edu-left{
  width: 30%;
  /* background-color: yellow; */
}

#edu-left>h2{
  font-size: 1.9rem;
  margin-bottom: 0;
}

#edu-left>span{
  margin-left: 6px;
  line-height: 0;
  color: #898a8a;
}

#ed_lft-up{
  width: 85px;
  height: 10px;
  background-color: #de5239;
  border-radius: 22px;
  margin: 8px auto 12px 0;
}

#edu-right{
  width: 70%;
  display: flex;
  margin-top: 10px;
  /* background-color: yellowgreen; */
}

#edu-rgt-lft{
  position: relative;
  /* margin-top: 10px; */
  width: 8px;
  height: 100%;
  background-color: #898a8a;
  border-radius: 10px;
}

.edu-bx{
  margin-top: 10px;
  width: 100%;
  height: max-content;
  margin-left: 22px;
  margin-bottom: 60px;
  /* background-color: yellow; */
}

.edu-bx > span{
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
  margin-left: 4px;
}

.edu-bx>div{
  margin-top: 10px;
}

.edu-bx>div>span{
  display: block;
  font-size: 14px;
  margin-left: 4px;
}



.edu-dot{
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #de5239;
  left: -4px;
  border-radius: 50%;
}

.edu-bx >h2{
  line-height: 18px;
}

@media (min-width: 0) and (max-width: 675px){
  #education{
    flex-direction: column;
  }

  #edu-rgt-lft{
    display: none;
    position: relative;
    height: 450px;
    background-color: #898a8a !important;
  }

  #edu-left,#edu-right{
    width: 100%;
  }

  #edu-left{
    margin: 8px auto 25px 25px;
  }
}

#contact{
  width: 100%;
  height: max-content;
  border: 1px solid #11141b;
  background-color: #171c26;
  margin-top: 60px;
  padding: 60px;
  padding-top: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#contact>h2{
  text-align: center;
  font-size: 2.6rem;
  margin-top: 15px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #ffffff;
}

.form-input{
  width: 100%;
  height: max-content;
  margin-bottom: 20px;
}

.form-input > label{
  display: block;
  font-size: 1.5rem;
  margin: 4px 0;
}

.form-input > input{
  width: 100%;
  padding: 6px;
  font-size: 1.3rem;
  color: #292a2b;
}


.form-input > textarea{
  width: 100%;
  height: 130px;
  padding: 5px;
  font-size: 18px;
}

#sbmt {
  display: flex;
  justify-content: center;
}

#sbmt-btn{
  width: max-content;
  padding: 8px 14px;
  background-color: #de5239;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 40px;
}

@media (min-width: 0) and (max-width: 675px){
  #contact{
    padding: 20px;
  }
}


#footer{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 14px;
  font-size: 1.1rem;
  border: 1px solid #11141b;
  background-color: #171c26;
}

#footer >span> a{
  color: #cacad0;
  text-decoration: none;
  margin-left: 12px;
}


  @media (min-width: 0) and (max-width: 550px){
    .ft-link{
      display: none;
    }
  }